{% extends "base.html" %}

<!--Menu de la page actuelle-->
{% block menu %}
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Calend-Me</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/taskmanager">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu " style="right:auto; left: auto;" aria-labelledby="navbarDropdown">
                        {% for p in projects %}
                            <a class="dropdown-item" href="/taskmanager/project/{{p.id}}">{{p.title}}</a>
                        {%endfor%}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/taskmanager/projects">All</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href='/taskmanager/createnewproject' style="color: forestgreen ">Ajouter un Projet</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link disabled"  href="/taskmanager/connexion">Connexion</a></li>
                <li class="nav-item"><a class="nav-link" style="color: lightcoral" href="/taskmanager/deconnexion">Deconnexion</a></li>
            </ul>
        </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Calend-Me</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/taskmanager">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item-dropdown">
                    <a class="nav-link dropdown-toggle disabled" href="/taskmanager/tasks"id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                </li>
                <li class="nav-item"><a class="nav-link" style="color: green;" href="/taskmanager/connexion">Connexion</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="/taskmanager/deconnexion">Deconnexion</a></li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Home</h1>
        <p>Bonjour, {{ user.username }} ! </p>
    {% else %}
        <h1>Home</h1>
        <p>Bonjour, connectez vous pour avoir acces au site! </p>
        <br>
    {% endif %}

{% endblock %}