{% extends "base.html" %}

<!--Menu de la page actuelle-->
{% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Calend-Me</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/taskmanager">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu " style="right:auto; left: auto;" aria-labelledby="navbarDropdown">
                    {% for p in projects %}
                        <a class="dropdown-item" href="/taskmanager/project/{{p.id}}">{{p.title}}</a>
                    {%endfor%}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/taskmanager/projects">All</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link disabled"  href="/taskmanager/connexion">Connexion</a></li>
             <li class="nav-item"><a class="nav-link" style="color: lightcoral" href="/taskmanager/deconnexion">Deconnexion</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>{{project.title}}</h1>
        <div class="row">
            <div class="col-4">
                <div class="list-group">
                    {% for t in tasks %}
                        <a href='/taskmanager/task/{{project.id}}/{{t.id}}' class="list-group-item list-group-item-action ">{{ t.title }}</a>
                    {% endfor %}
                    {% if is_empty %}
                        <br>
                        <p>Oops! Aucune tache n'existe dans ce projet...</p>
                    {% endif %}
                    <br>
                    <a href='/taskmanager/createnewtask' style="color: forestgreen " class="list-group-item list-group-item-action ">Ajouter une tache</a>
                </div>
            </div>
        </div>
    </div>
<p>Hey</p>
<a href="{% url 'editproject' id %}">Modifier Projet</a>

{% endblock %}