{% extends "base.html" %}


{% block menu %}
    {% if user.is_authenticated %}
        <nav class="menu">
          <ul>
            <li><a href="/taskmanager">Accueil</a></li>
            <li><a href="/taskmanager/tasks">Tasks</a></li>
            <li><a href="/taskmanager/deconnexion">Deconnexion</a></i>
            <li><a href="/taskmanager/connexion" class="disabled">Se connecter</a></>
          </ul>
        </nav>
    {% else %}
        <nav class="menu">
          <ul>
            <li><a href="/taskmanager">Accueil</a></li>
            <li><a href="/taskmanager/tasks" class="disabled">Tasks</a></li>
            <li><a href="/taskmanager/deconnexion" class="disabled">Deconnexion</a></>
            <li><a href="/taskmanager/connexion">Se connecter</a></>
          </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Home</h1>
        <p>Bonjour, {{ user.username }} ! </p>
    {% else %}
        <h1>Home</h1>
        <p>Bonjour, connectez vous pour avoir acces au site! </p>
        <br>
    {% endif %}

    <div class="container-fluid">
        <div class ="row">
             <div class="col-8">
                <ul>
                {% for p in projects %}
                    <li>{{p.title}}</li>
                {%endfor%}
                </ul>
             </div>
        </div>
    </div>
{% endblock %}